<h1>Make your form here</h1>

<form method="POST" action ="/pirates">
    <label>
        pirate_name: 
        <input id="pirate_name" type="text" name="pirate[name]" >
    </label>
    <label>
        pirate_weight: 
        <input id="pirate_weight" type="text" name="pirate[weight]" >
    </label>
    <label>
        pirate_height: 
        <input id="pirate_height" type="text" name="pirate[height]" >
    </label>

    <label> 
        ship_name_1:
        <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
    </label>
    <label> 
        ship_type_1:
        <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
    </label>
    <label> 
        ship_booty_1:
        <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
    </label>

    <label>
        ship_name_2:
        <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
    </label>
    <label> 
        ship_type_2:
        <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
    </label>
    <label> 
        ship_booty_2:
        <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
    </label>
    <input type=submit />

</form>